<%= form_for(spot) do |f| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="small-12 columns">
      <%= f.label :description %>
      <%= f.text_area :description %>
    </div>

    <div class="medium-3 columns">
      <%= f.label :wind_optimal_direction_min_degrees %>
      <%= f.text_field :wind_optimal_direction_min_degrees %>
    </div>

    <div class="medium-3 columns">
      <%= f.label :swell_optimal_direction_min_degrees %>
      <%= f.text_field :swell_optimal_direction_min_degrees %>
    </div>

    <div class="medium-1 columns">
      <%= f.label :tide_optimal_min_metres %>
      <%= f.text_field :tide_optimal_min_metres %>
    </div>
    <div class="medium-1 columns">
      <%= f.label :tide_optimal_max_metres %>
      <%= f.text_field :tide_optimal_max_metres %>
    </div>

    <div class="medium-3 columns">
      <%= f.label :season %>
      <%= f.text_field :season %>
    </div>

    <div class="small-12 columns">
      <%= f.label :image %>
      <%= f.text_field :image %>
    </div>

    <section class="small-12 columns">
      <strong>Location</strong> <br>
      <div class="small-4 columns">
        <%= f.label :latitude %>
        <%= f.text_field :latitude %>
      </div>
      <div class="small-4 columns">
        <%= f.label :longitude %>
        <%= f.text_field :longitude %>
      </div>
      <div class="small-4 columns">
        <%= f.label :region %><br />
        <%= f.select :region_id, options_for_select(Region.all.map{|r|[r.name, r.id]}) %>
      </div>
    </section>

    <div class="medium-6 columns">
    </div>
  </div>

  <div class="row actions">
    <%= f.submit 'Done', :class => 'button large' %>
  </div>
<% end %>
