<%= form_for(spot) do |f| %>
  <% if spot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(spot.errors.count, "error") %> prohibited this spot from being saved:</h2>

      <ul>
      <% spot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid-x">
    <div class="small-12 cell">
      <fieldset>
        <legend>About</legend>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>

        <div class="grid-x">
          <div class="medium-4 cell">
            <%= f.label :season %>
            <%= f.text_field :season %>
          </div>
          <div class="medium-4 cell">
            <%= f.label :latitude %>
            <%= f.text_field :latitude %>
          </div>
          <div class="medium-4 cell">
            <%= f.label :longitude %>
            <%= f.text_field :longitude %>
          </div>
        </div>

        <div class="grid-x">
          <div class="medium-6 cell">
            <%= f.label :region %>
            <%= f.select :region_id, options_for_select(Region.all.map{ |r| [r.name, r.id] }, :selected => @spot.region_id) %>
          </div>
          <div class="medium-6 cell">
            <%= f.label :image %>
            <%= f.text_field :image %>
          </div>
        </div>
      </fieldset>

      <div class="grid-x">
        <div class="medium-4 cell">
          <fieldset>
            <legend>Swell</legend>

            <%= f.label :weighting_swell %>
            <%= f.text_field :weighting_swell %>

            <%= f.label :swell_optimal_size_min_metres %>
            <%= f.text_field :swell_optimal_size_min_metres %>

            <%= f.label :swell_optimal_size_max_metres %>
            <%= f.text_field :swell_optimal_size_max_metres %>

            <%= f.label :swell_optimal_direction_min %>
            <%= f.text_field :swell_optimal_direction_min %>

            <%= f.label :swell_optimal_direction_max %>
            <%= f.text_field :swell_optimal_direction_max %>

            <%= f.label :wave_model_lat %>
            <%= f.text_field :wave_model_lat %>

            <%= f.label :wave_model_lon %>
            <%= f.text_field :wave_model_lon %>

            <%= f.label :wave_model_size_coefficient %>
            <%= f.text_field :wave_model_size_coefficient %>

          </fieldset>
        </div>

        <div class="medium-4 cell">
          <fieldset>
            <legend>Wind</legend>

            <%= f.label :weighting_wind %>
            <%= f.text_field :weighting_wind %>

            <%= f.label :wind_optimal_strength_min_kmh %>
            <%= f.text_field :wind_optimal_strength_min_kmh %>

            <%= f.label :wind_optimal_strength_max_kmh %>
            <%= f.text_field :wind_optimal_strength_max_kmh %>

            <%= f.label :wind_optimal_direction_min %>
            <%= f.text_field :wind_optimal_direction_min %>

            <%= f.label :wind_optimal_direction_max %>
            <%= f.text_field :wind_optimal_direction_max %>

          </fieldset>
        </div>

        <div class="medium-4 cell">
          <fieldset>
            <legend>Tide</legend>

            <%= f.label :weighting_tide %>
            <%= f.text_field :weighting_tide %>

            <%= f.label :tide_optimal_min_metres %>
            <%= f.text_field :tide_optimal_min_metres %>

            <%= f.label :tide_optimal_max_metres %>
            <%= f.text_field :tide_optimal_max_metres %>

          </fieldset>
        </div>
      </div>

      <div class="row actions">
        <%= f.submit 'Done', :class => 'btn large' %>
      </div>
  </div>
</div>
<% end %>
