<p id="notice"><%= notice %></p>

<h1>Spots</h1>

<%= link_to '+ NEW SPOT', new_spot_path, class: 'button' %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Optimal wind</th>
      <th>Optimal swell</th>
      <th>Season</th>
    </tr>
  </thead>

  <tbody>
    <% @spots.each do |spot| %>
      <tr>
        <td>
          <%= link_to spot.name, spot %> <br>
          <%= link_to 'Edit', edit_spot_path(spot) %>
          <%= link_to 'Destroy', spot, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <td><%= spot.description %></td>
        <td><%= spot.optimal_wind_direction_degrees %></td>
        <td><%= spot.optimal_swell_direction_degrees %></td>
        <td><%= spot.season %></td>
      </tr>
    <% end %>
  </tbody>
</table>
