<!-- TODO: Figure out a nice way to handle notices -->
<% if notice && !notice.empty? %>
  <p id="notice"><%= notice %></p>
<% end %>

<% if (!@spot.current_swell || !@spot.current_wind) %>
  <h2><%= @spot.name %></h2>
  <p>No forecast data available for this spot.</p>
  <p>Please run a <code>rails forecasts:update</code> then refresh.</p>
<% else %>
  <% content_for :before_main do %>
    <div class="spot-banner --<%= get_verdict(@spot.current_potential) %>">
      <!-- <div class="spot-banner__image-wrapper">
        <img alt="slide image" src="<%= @spot.image %>">
      </div> -->
      <div class="row spot-banner__content">
        <div class="small-12 columns text-left">
          <div class="spot-banner__rating">
            <span><%= trim(@spot.current_potential) %></span>
          </div>
          <div class="spot-banner__details">
            <h2><%= @spot.name %></h2>
            <span><%= link_to @region.name, @region %>, <%= @region.state %></span>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div id="spot-toolbar" class="small-12 medium-4 columns spot-toolbar">
      <div class="row">
        <div id="current-btn" class="small-3 columns spot-toolbar__item">
          <a onclick="scrollBySection(1)">
            <%= render partial: 'partials/floating-icon', locals: {type: 'plain', icon: 'activity', size: 'small'} %>
            <span class="spot-toolbar__label">Current</span>
          </a>
        </div>
        <div id="about-btn" class="small-3 columns spot-toolbar__item">
          <a onclick="scrollBySection(2)">
            <%= render partial: 'partials/floating-icon', locals: {type: 'plain', icon: 'award', size: 'small'} %>
            <span class="spot-toolbar__label">Optimums</span>
          </a>
        </div>
        <div id="forecast-btn" class="small-3 columns spot-toolbar__item">
          <a onclick="scrollBySection(3)">
            <%= render partial: 'partials/floating-icon', locals: {type: 'plain', icon: 'trending-up', size: 'small'} %>
            <span class="spot-toolbar__label">Forecast</span>
          </a>
        </div>
        <div class="small-3 columns spot-toolbar__item">
          <a href="https://www.google.com.au/maps/dir//<%= @spot.latitude %>,<%= @spot.longitude %>/" target="_blank">
            <%= render partial: 'partials/floating-icon', locals: {type: 'plain', icon: 'map', size: 'small'} %>
            <span class="spot-toolbar__label">Location</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <% if user_signed_in? %>
    <div class="text-center">
      Admin actions: <br>
      <%= link_to 'Edit Spot', edit_spot_path(@spot), class: 'button' %> <br>
    </div>
  <% end %>

  <div id="current-view" class="row">
    <div class="large-12 columns">
      <div class="row">
        <%= render partial: 'partials/info-card', locals: {
          title: 'Swell',
          secondary: 'Overhead',
          rating: @spot.current_swell.rating,
          datetime: @spot.current_swell.date_time,
          data: [
            {
              indicator: get_verdict(@spot.current_swell.size_rating),
              prefix: '',
              values: [{
                value: m_to_ft(@spot.current_swell.size).round(1),
                unit: 'ft'
              }],
              subtext: "Wave height <br />@ #{trim(@spot.current_swell.period.round(0))} secs"
            },
            {
              indicator: get_verdict(@spot.current_swell.dir_rating),
              prefix: '',
              values: [{
                value: degrees_to_text(@spot.current_swell.direction),
                unit: ''
              }],
              subtext: "Direction <br />(#{@spot.current_swell.direction}&deg;)"
            }
          ]
        } %>
        <%= render partial: 'partials/info-card', locals: {
          title: 'Wind',
          secondary: 'Gusty',
          rating: @spot.current_wind.rating,
          datetime: @spot.current_wind.date_time,
          data: [
            {
              indicator: get_verdict(@spot.current_wind.speed_rating),
              prefix: '',
              values: [{
                value: trim(kph_to_knots(@spot.current_wind.speed).round(0)),
                unit: 'kts'
              }],
              subtext: 'Wind speed'
            },
            {
              indicator: get_verdict(@spot.current_wind.dir_rating),
              prefix: '',
              values: [{
                value: degrees_to_text(@spot.current_wind.direction),
                unit: ''
              }],
              subtext: "Direction <br />(#{@spot.current_wind.direction}&deg;)"
            }
          ]
        } %>
        <%= render partial: 'partials/info-card', locals: {
          title: 'Tide',
          secondary: tide_incoming_or_outgoing(@spot.last_tide.tide_type),
          rating: @spot.current_tide_rating,
          datetime: Time.zone.now,
          data: [
            {
              indicator: get_verdict(@spot.current_tide_rating),
              prefix: '',
              values: [{
                value: @spot.current_tide_height.round(1),
                unit: 'm'
              }],
              subtext: 'Tide height'
            },
            {
              indicator: '',
              prefix: '',
              values: [
                {
                  value: display_hours(@spot.tide_hours_remaining),
                  unit: ':'.html_safe
                },
                {
                  value: '%02d' % display_mins(@spot.tide_hours_remaining),
                  unit: ''
                },
              ],
              subtext: 'Time till good'
            }
          ]
        } %>
      </div>
    </div>
  </div>

  <div id="about-view" class="row small-collapse medium-uncollapse">
    <div class="large-12 columns">
      <div class="small-12 columns">
        <h4>About</h4>
      </div>
      <div class="large-6 small-12 columns">
        <h5 class="subheader"><%= @spot.description %></h5>
        <p>
          <strong>Optimal wind direction:</strong>
          <%= @spot.wind_optimal_direction %> degrees with <%= @spot.wind_optimal_direction_max_variance %> variance
          <br>
          <strong>Optimal wind strength:</strong>
          <%= @spot.wind_optimal_strength_min_kmh %> - <%= @spot.wind_optimal_strength_max_kmh %> kmh
          <br>
          <strong>Optimal swell direction:</strong>
          <%= @spot.swell_optimal_direction %> degrees with <%= @spot.swell_optimal_direction_max_variance %> variance
          <br>
          <strong>Optimal swell size:</strong>
          <%= @spot.swell_optimal_size_min_metres %> - <%= @spot.swell_optimal_size_max_metres %> metres
          <br>
          <strong>Optimal tides:</strong>
          <%= "#{@spot.tide_optimal_min_metres}m to #{@spot.tide_optimal_max_metres}m" %>
          <br>
          <strong>Season:</strong> <%= @spot.season %> <br>
          <strong>Lat/long: </strong> <%= @spot.latitude %>, <%= @spot.longitude %>
        </p>
      </div>
      <div class="large-6 small-12 columns">
        <%= render partial: 'partials/optimum-visualisation',
          locals: {
            showScale: true,
            label: 'Wind direction variance (TODO: handle negatives, make 0 center (+-45))',
            min: 0,
            max: @spot.wind_optimal_direction_max_variance,
            value: @spot.current_wind.current_variance.abs,
            unit: " deg",
            roc: @spot.current_wind.rate_of_change_direction,
            rocDirection: get_roc_direction(@spot.current_wind.rate_of_change_direction)
          }
        %>
        <%= render partial: 'partials/optimum-visualisation',
          locals: {
            label: 'Wind strength',
            min: @spot.wind_optimal_strength_min_kmh,
            max: @spot.wind_optimal_strength_max_kmh,
            value: @spot.current_wind.speed,
            unit: "kph",
            roc: @spot.current_wind.rate_of_change_speed,
            rocDirection: get_roc_direction(@spot.current_wind.rate_of_change_speed)
          }
        %>
        <%= render partial: 'partials/optimum-visualisation',
          locals: {
            label: 'Swell direction variance (TODO: handle negatives, make 0 center (+-45))',
            min: 0,
            max: @spot.swell_optimal_direction_max_variance,
            value: @spot.current_swell.current_variance.abs,
            unit: " deg",
            roc: @spot.current_swell.rate_of_change_size,
            rocDirection: get_roc_direction(@spot.current_swell.rate_of_change_size)
          }
        %>
        <%= render partial: 'partials/optimum-visualisation',
          locals: {
            label: 'Swell Size',
            min: @spot.swell_optimal_size_min_metres,
            max: @spot.swell_optimal_size_max_metres,
            value: @spot.current_swell.size.round(2),
            unit: "m",
            roc: @spot.current_swell.rate_of_change_size,
            rocDirection: get_roc_direction(@spot.current_swell.rate_of_change_size)
          }
        %>
        <%= render partial: 'partials/optimum-visualisation',
          locals: {
            label: 'Tide height',
            min: @spot.tide_optimal_min_metres,
            max: @spot.tide_optimal_max_metres,
            value: @spot.current_tide_height,
            unit: "m",
            roc: 0.9,
            rocDirection: get_roc_direction(0.9)
          }
        %>
      </div>
    </div>
  </div>

  <div id="forecast-view">
    <h3>COMING SOON</h3>
  </div>

  <div id="location-view" class="row">
    <div class="large-12 columns">
      <iframe
      width="100%"
      height="250"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDVFmco07GE43aqioYPI5Ccfl_DJlGkBJo
        &q=loc:<%= @spot.latitude %>+<%= @spot.longitude %>&zoom=15" allowfullscreen>
      </iframe>
    </div>
  </div>


  <div class="row">
    <div class="small-12 medium-4 columns">
      <h3><%= "Swell Models for #{@spot.name}" %></h3>
      <%= swell_models_table(@forecasts_swells) %>
    </div>
    <div class="small-12 medium-4 columns">
      <h3><%= "Wind Models for #{@spot.name}" %></h3>
      <%= wind_models_table(@forecasts_winds) %>
    </div>
    <div class="small-12 medium-4 columns">
      <h3><%= "Tide Models for #{@spot.name}" %></h3>
      <%= tide_models_table(@forecasts_tides) %>
    </div>
  </div>

<% end %>
