<p id="notice"><%= notice %></p>

<h2><%= @spot.name %></h2>
<p><%= link_to @region.name, @region %>, <%= @region.state %></p>

<div class="row" style="max-width: none;">
  <div class="medium-8 columns">
    <p><img src="<%= @spot.image %>" alt="<%= @spot.name %>" width="300px"></p>

    <h2>CURRENT POTENTIAL: <%= number_to_percentage(@spot.current_potential, precision: 1) %></h2>

    <p>Observed: <%= @spot.latest_observation.updated_at %></p>

    <p>
      <strong>Description:</strong>
      <%= @spot.description %>
    </p>
    <p>
      <strong>Optimal wind direction:</strong>
      <%= @spot.wind_optimal_direction_min_degrees %> - <%= @spot.wind_optimal_direction_max_degrees %> degrees
      <br>
      <strong>Optimal wind strength:</strong>
      <%= @spot.wind_optimal_strength_min_kmh %> - <%= @spot.wind_optimal_strength_max_kmh %> kmh
    </p>
    <p>
      <strong>Optimal swell direction:</strong>
      <%= @spot.swell_optimal_direction_min_degrees %> - <%= @spot.swell_optimal_direction_max_degrees %> degrees
      <br>
      <strong>Optimal swell size:</strong>
      <%= @spot.swell_optimal_size_min_metres %> - <%= @spot.swell_optimal_size_max_metres %> metres
      <br>
      <strong>Optimal swell period:</strong>
      <%= @spot.swell_optimal_period_seconds %> secs
    </p>
    <p>
      <strong>Optimal tides:</strong>

      <% tide_info = "
        #{@spot.name}'s tide is prime on
        #{@spot.tide_optimal_min_metres}m to #{@spot.tide_optimal_max_metres}m" %>
      <%= tide_info %>
    </p>
    <p>
    </p>
    <p>
      <strong>Season:</strong>
      <%= @spot.season %>
    </p>
    <p>
      <strong>Lat/long: </strong>
      <%= @spot.latitude %>, <%= @spot.longitude %>
    </p>

    <p>
      <iframe
      width="380"
      height="250"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDVFmco07GE43aqioYPI5Ccfl_DJlGkBJo
        &q=loc:<%= @spot.latitude %>+<%= @spot.longitude %>&maptype=satellite&zoom=15" allowfullscreen>
      </iframe>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_spot_path(@spot), class: 'button' %> <br>
<%= link_to 'Back', spots_path %>
