<p id="notice"><%= notice %></p>

<h2><%= @spot.name %></h2>
<p><%= link_to @region.name, @region %>, <%= @region.state %></p>

<div class="row" style="max-width: none;">
  <div class="medium-8 columns">
    <p><img src="<%= @spot.image %>" alt="<%= @spot.name %>" width="300px"></p>


    <h2>tide details</h2>

    <p class="lead">
      Tide rating: <%= @spot.tide_rating %>
    </p>
    <p>
      <% tide_info = "
        #{@spot.name} is prime on
        #{@spot.optimal_tide_height_low_metres}m to #{@spot.optimal_tide_height_high_metres}m" %>
      <%= tide_info %>
    </p>

    <hr><hr><hr>
    <h1>TODO --- </h1>

    <p>
      <strong>Description:</strong>
      <%= @spot.description %>
    </p>
    <p>
      <strong>Optimal wind direction:</strong>
      <%= @spot.optimal_wind_direction_degrees %> degrees
    </p>
    <p>
      <strong>Optimal swell direction:</strong>
      <%= @spot.optimal_swell_direction_degrees %> degrees
    </p>
    <p>
      <strong>Season:</strong>
      <%= @spot.season %>
    </p>
    <p>
      Lat/long:
      <%= @spot.latitude %> <br>
      <%= @spot.longitude %> <br>
    </p>
  </div>
  <div class="medium-4 columns">
    <p>
      <iframe
      width="100%"
      height="300"
      frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDVFmco07GE43aqioYPI5Ccfl_DJlGkBJo
        &q=loc:<%= @spot.latitude %>+<%= @spot.longitude %>&maptype=satellite&zoom=15" allowfullscreen>
      </iframe>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_spot_path(@spot), class: 'button' %> <br>
<%= link_to 'Back', spots_path %>
