<p id="notice"><%= notice %></p>

<div class="row">
  <div class="large-12 columns">

    <div class="hide-for-small">
      <div id="featured"><img alt="slide image" src="<%= @spot.image %>"></div>
    </div>

    <div class="row">
      <div class="small-12 show-for-small"><br>
        <img src="<%= @spot.image %>"></div>
    </div>
  </div>
</div><br>

<div class="row">
  <div class="small-12 columns">
    <h2><%= @spot.name %>, <br>
      <small><%= link_to @region.name, @region %>, <%= @region.state %></small><br>
      <small>Updated <%= @spot.current_swell.updated_at.localtime.strftime("%a, %e %b %Y %H:%M") %></small><br>
    </h2>
  </div>
  <!-- <div class="small-6 columns text-right">
    <p>
      <small>Updated <%= @spot.current_swell.updated_at.localtime.strftime("%a, %e %b %Y %H:%M") %></small><br>
      <% if user_signed_in? %> <%= link_to 'Edit Spot', edit_spot_path(@spot) %> <br> <% end %>
    </p>
  </div> -->
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-3 small-12 columns panel">
        <span class="<%= 'success' if @spot.current_potential > 75.0 %>"><strong>Overall: <%= @spot.current_potential %></strong></span>
        <p class="<%= 'success' if @spot.current_swell.rating > 0.75 %>"><strong>Swell <%= @spot.current_swell.rating * 100 %></strong></span>
        <p class="<%= 'success' if @spot.current_wind.rating > 0.75 %>"><strong>Wind <%= @spot.current_wind.rating * 100 %></strong></span>
        <p class="<%= 'success' if @spot.current_tide_rating > 0.75 %>"><strong>Tide <%= @spot.current_tide_rating * 100 %></strong></span>
      </div>
      <div class="large-3 small-6 columns panel">
        <h6>Swell</h6>
        <p><%= @spot.current_swell.rating * 100.0 %>%</p>
        <p>
          <ul>
            <li><%= @spot.current_swell.size %>m</li>
            <li>at <%= @spot.current_swell.period %>s</li>
            <li>from <%= @spot.current_swell.direction %> degrees OR <%= @spot.current_swell.direction.degrees %> radians <br></li>
            <li> at <%= @spot.current_swell.date_time.localtime.strftime("%a, %e %b %Y %H:%M") %></li>
          </ul>
        </p>
      </div>
      <div class="large-3 small-6 columns panel">
        <h6>Wind</h6>
        <p><%= @spot.current_wind.rating * 100.0 %>%</p>
        <p>
          <ul>
            <li><%= @spot.current_wind.speed %> km/h from</li>
            <li><%= @spot.current_wind.direction %> degrees OR <%= @spot.current_wind.direction.degrees if @spot.current_wind.direction %> radians <br></li>
            <li> at <%= @spot.current_wind.date_time.localtime.strftime("%a, %e %b %Y %H:%M") %></li>
          </ul>
        </p>
      </div>
      <div class="large-3 small-6 columns panel">
        <h6>Tide</h6>
        <p><%= @spot.current_tide_rating * 100.0 %>%</p>
        <p>
          <ul>
            Current tide height:
            <li><%= @spot.current_tide_height %>m above sea level</li>
            Current tidal range:
            <li><%= @spot.tidal_range %>m</li>
            Last tide (<%= @spot.last_tide.tide_type %>):
            <li><%= @spot.last_tide.height %>m above sea level at
            <%= @spot.last_tide.date_time.localtime.strftime("%a, %e %b %Y %H:%M") %></li>
            Next tide (<%= @spot.next_tide.tide_type %>):
            <li><%= @spot.next_tide.height %>m above sea level at
            <%= @spot.next_tide.date_time.localtime.strftime("%a, %e %b %Y %H:%M") %></li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="row">
      <div class="large-12 columns">
        <div class="panel radius">
          <div class="row">
            <div class="small-12 columns">
              <h4>About</h4>
              <hr>
            </div>

            <div class="large-6 small-6 columns">
              <h5 class="subheader"><%= @spot.description %></h5>
            </div>
            <div class="large-6 small-6 columns">
              <p>
                <strong>Optimal wind direction:</strong>
                <%= @spot.wind_optimal_direction_min_degrees %> - <%= @spot.wind_optimal_direction_max_degrees %> degrees
                <br>
                <strong>Optimal wind strength:</strong>
                <%= @spot.wind_optimal_strength_min_kmh %> - <%= @spot.wind_optimal_strength_max_kmh %> kmh
                <strong>Optimal swell direction:</strong>
                <%= @spot.swell_optimal_direction_min_degrees %> - <%= @spot.swell_optimal_direction_max_degrees %> degrees
                <br>
                <strong>Optimal swell size:</strong>
                <%= @spot.swell_optimal_size_min_metres %> - <%= @spot.swell_optimal_size_max_metres %> metres
                <br>
                <strong>Optimal swell period:</strong>
                <%= @spot.swell_optimal_period_seconds %> secs
                <br>
                <strong>Optimal tides:</strong>
                <%= "#{@spot.tide_optimal_min_metres}m to #{@spot.tide_optimal_max_metres}m" %>

                <strong>Season:</strong> <%= @spot.season %> <br>
                <strong>Lat/long: </strong> <%= @spot.latitude %>, <%= @spot.longitude %>

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <iframe
    width="100%"
    height="250"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDVFmco07GE43aqioYPI5Ccfl_DJlGkBJo
      &q=loc:<%= @spot.latitude %>+<%= @spot.longitude %>&zoom=15" allowfullscreen>
    </iframe>
  </div>
</div>


<div class="row">
  <div class="large-12 columns">
    <h3><%= "Swell Models for #{@spot.name}" %></h3>
    <%= swell_models_table(@forecasts_swells) %>
    <h3><%= "Wind Models for #{@spot.name}" %></h3>
    <%= wind_models_table(@forecasts_winds) %>
    <h3><%= "Tide Models for #{@spot.name}" %></h3>
    <%= tide_models_table(@forecasts_tides) %>
  </div>
</div>
