<p id="notice"><%= notice %></p>

<h2>
  <%= @spot.name %>
</h2>

<p><img src="<%= @spot.image %>" alt="<%= @spot.name %>" width="300px"></p>

<p>
  <strong>Description:</strong>
  <%= @spot.description %>
</p>

<p>
  <strong>Optimal wind direction:</strong>
  <%= @spot.optimal_wind_direction %>
</p>

<p>
  <strong>Optimal swell direction:</strong>
  <%= @spot.optimal_swell_direction %>
</p>

<p>
  <strong>Season:</strong>
  <%= @spot.season %>
</p>

<p>
  <%= @spot.lat %>
  <%= @spot.lng %>
</p>

<%= link_to 'Edit', edit_spot_path(@spot), class: 'button' %> <br>
<%= link_to 'Back', spots_path %>
