<div class="small-12 medium-6 large-4 columns">
  <div class="info-card">
    <div class="info-card__top --<%= get_verdict(rating) %>">
      <h3><%= title %></h3>
      <span class="text-right">
        <%= secondary %> @ <%= datetime.localtime.strftime("%I:%M %p")%>
      </span>
    </div>

    <div class="row info-card__body">
      <div class="small-4 columns">
        <% if rating <= 30.0 %>
          <%= render partial: 'partials/floating-icon',  locals: {type: 'negative', icon: 'alert-triangle--white', size: 'xlg'} %>
        <% else %>
          <%= render partial: 'partials/rating-radial', locals: {rating: rating, radius: '40', width: '80', centered: true} %>
        <% end %>
      </div>
      <% data.each do |d| %>
        <div class="small-4 columns datapoint">
          <p class="main-text --<%= d[:indicator] %>">
            <%= d[:prefix] %>
            <% d[:values].each do |v| %>
              <span><%= v[:value] %><span class="value-unit"><%= v[:unit] %></span></span>
            <% end %>
          </p>
          <p class="sub-text"><%= d[:subtext].html_safe %></p>
          <% if d[:optimum_vis] %>
            <% d[:optimum_vis].each do |opt| %>
            <div class="--hide-expanded">
              <%= render partial: 'partials/mini-optimum-visualisation', locals: opt %>
            </div>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row info-card__expanded-section">
      <div class="small-11 small-centered columns">
        <% data.each do |d| %>
          <% if d[:optimum_vis] %>
            <% d[:optimum_vis].each do |opt| %>
              <%= render partial: 'partials/optimum-visualisation', locals: opt %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    <a class="link expand-button fn-expand-info-card">Show more</a>
  </div>
</div>
