<div class="optimum-vis <%= value < min || value > max ? '--outside' : '--inside'%>">
  <% if local_assigns[:showScale] then %>
  <!-- <div class="optimum-vis__scale">
    <span class="scale-marker --neg --left"><p>30</p></span>
    <span class="scale-marker --mixed --left"><p>50</p></span>
    <span class="scale-marker --pos --left"><p>75</p></span>
    <span class="scale-marker --full"><p>100</p></span>
    <span class="scale-marker --pos --right"><p>75</p></span>
    <span class="scale-marker --mixed --right"><p>50</p></span>
    <span class="scale-marker --neg --right"><p>30</p></span>
  </div> -->
  <% end %>
  <% if label != '' then %>
    <div class="optimum-vis__meta"><%= label %></div>
  <% end %>
  <div class="optimum-vis__visual">
    <div class="optimum-vis__markings">
      <span class="optimum-vis__min"><%= trim(min) %></span>
      <span class="optimum-vis__max"><%= trim(max) %></span>
    </div>
    <div class="data-vis">
      <div class="data-vis__bg --neg --left"></div>
      <div class="data-vis__bg --mix --left"></div>
      <div class="data-vis__bg --pos"></div>
      <div class="data-vis__bg --neg --right"></div>
      <div class="data-vis__bg --mix --right"></div>
      <!-- <div class="data-vis__bg --sectors --top"></div> -->
      <div class="data-vis__bg --sectors"></div>
      <div class="data-vis__bg --sectors --bottom"></div>
      <% if value > min && value < max %>
        <span class="data-vis__ROC --<%= rocDirection %>" style="left: <%= rocDirection === 'right' ? ((value - min)/(max-min) * 100) : (((value - min)/(max-min) * 100) - (roc.abs)/(max-min) * 100) %>%; width: <%= (roc.abs)/(max-min) * 100 %>%;"></span>
        <span class="data-vis__ROC-value --<%= rocDirection %>" style="left: <%= rocDirection === 'right' ? (((value - min)/(max-min) * 100) + (roc.abs)/(max-min) * 100) : (((value - min)/(max-min) * 100) - (roc.abs)/(max-min) * 100) %>%;"><%= trim(roc_value) %><%= unit %></span>
        <span class="data-vis__current" style="left: <%= ((value - min)/(max-min) * 100) %>%;"><%= trim(value) %><%= unit %></span>
      <% end %>
    </div>
  </div>
</div>
