<div class="potential-radial">
  <div class="potential-radial__circle-element"
    style="width: <%= width ||= '100'%>px; height: <%= width ||= '100'%>px;"
    data-percentage="<%= rating %>"
    data-radius="<%= radius ||= '50' %>"
    data-track-width="10"
    data-track-colour="#E0E0E0"
    data-fill-colour="<%= get_verdict_colour(rating) %>"
    data-stroke-colour="#FFFFFF"
    data-stroke-spacing="0">
  </div>
</div>
