<div class="large-4 medium-6 small-12 columns spot-tile">
  <%= link_to spot do %>
    <div class="spot-tile__datetime --<%= type %>"><p><%= spot.created_at.strftime("%I:%M %p") %></p></div>
    <% if type === 'full' %>
      <div class="spot-tile__image" style="background-image: url('<%= spot.image %>')"></div>
    <% end %>
    <div class="spot-tile__summary">
      <div class="spot-tile__main-rating --<%= get_verdict(spot.current_potential) %>"><%= trim(spot.current_potential) %></div>
      <div class="spot-tile__name-region">
        <h3 class="spot-tile__name"><%= spot.name %></h3>
      </div>
      <% if data === 'current' %>
        <div class="spot-sub-rating-group">
          <ul>
            <li>
              <span class="spot-sub-rating-group__label">
                <span class="indicator --mini --<%= get_verdict(spot.current_swell.rating) %>"></span>
              </span>
              <span class="spot-sub-rating-group__primary-datapoint"><%= trim(m_to_ft(spot.current_swell.size).round(0)) %> <small>ft</small></span>
            </li>
            <li>
              <span class="spot-sub-rating-group__label">
                <span class="indicator --mini --<%= get_verdict(spot.current_wind.rating) %>"></span>
              </span>
              <span class="spot-sub-rating-group__primary-datapoint">
                <%= degrees_to_text(spot.current_wind.direction) %> <%= trim(kph_to_knots(spot.current_wind.speed).round(0)) %> <small>kt</small>
              </span>
            </li>
            <li>
              <span class="spot-sub-rating-group__label">
                <span class="indicator --mini --<%= get_verdict(spot.current_tide_rating) %>"></span>
              </span>
              <span class="spot-sub-rating-group__primary-datapoint"><%= tide_incoming_or_outgoing(spot.last_tide.tide_type) %> <small>Tide</small></span>
            </li>
          </ul>
        </div>
      <% elsif data === 'forecast' %>
        <div class="spot-plan-summary">
          <span class="spot-plan-summary__item --positive">
            <p>F</p>
          </span>
          <span class="spot-plan-summary__item --positive">
            <p>S</p>
          </span>
          <span class="spot-plan-summary__item --mixed">
            <p>S</p>
          </span>
          <span class="spot-plan-summary__item --negative">
            <p>M</p>
          </span>
          <span class="spot-plan-summary__item --mixed">
            <p>T</p>
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
