<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @region.description %>
</p>

<p>
  <strong>Country:</strong>
  <%= @region.country %>
</p>

<p>
  <strong>State:</strong>
  <%= @region.state %>
</p>

<ul>
  <% @spots.each do |spot| %>
    <li><%= link_to spot.name, spot %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>
