<nav class="tab-bar">
  <section class="left-small">
    <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>

  <section class="middle tab-bar-section">
    <h1 class="title">POSEIDON</h1>
  </section>

  <section class="right-small">
    <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
  </section>
</nav>

<aside class="left-off-canvas-menu">
  <ul class="off-canvas-list">
    <li><%= link_to 'Spots', spots_path %></li>
    <li><%= link_to 'Regions', regions_path %></li>
    <li><%= link_to 'About', page_path('about') %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Users', users_path %></li>
    <% end %>
  </ul>
</aside>

<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <%= render 'layouts/nav_links_for_auth' %>
  </ul>
</aside>
