<%# DEPRECATED in JS app %>

  <ul class="menu">
    <li><%= link_to 'Poseidon Alpha 1.0' , root_path, class: 'title' %></li>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Spots', spots_path %></li>
    <li><%= link_to 'Regions', regions_path %></li>
    <li><%= link_to 'About', page_path('about') %></li>
    <% if user_signed_in? %>
      <li><%= link_to 'Users', users_path %></li>
    <% end %>

    <% if user_signed_in? %>
      <li><%= link_to 'Edit account', edit_user_registration_path %></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    <% else %>
      <li><%= link_to 'Sign in', new_user_session_path %></li>
      <li><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>

