<%# navigation styled for Zurb Foundation 5 %>
<nav class="top-bar" data-topbar role="navigation" data-options="is_hover: false">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'POSEIDON', root_path %></h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <ul class="right" >
      <%= render 'layouts/nav_links_for_auth' %>
    </ul>

    <ul class="left">
      <li><%= link_to 'SPOTS', spots_path %></li>
      <li><%= link_to 'About', page_path('about') %></li>
      <% if user_signed_in? %>
        <li><%= link_to 'Users', users_path %></li>
      <% end %>
    </ul>
  </section>
</nav>
