<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= content_for?(:title) ? yield(:title) : "Poseidon" %>
  </title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : " Poseidon " %>">
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700" rel="stylesheet">
  <%= stylesheet_pack_tag 'styles' %>
  <%= javascript_include_tag 'vendor/modernizr' %>
  <%= csrf_meta_tags %>
</head>

<body class="auth-page">
  <header>
    <h1>POSEIDON</h1>
  </header>

  <section class="auth-container">
    <main role="main">
      <%= render 'layouts/messages' %>
        <%= yield %>
    </main>
  </section>

  <footer class="footer cell">
  </footer>

  <!-- Global Site Tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-101910598-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments)
    };
    gtag('js', new Date());

    gtag('config', 'UA-101910598-1');
  </script>
</body>

</html>