<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Poseidon" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Poseidon" %>">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => 'reload' %>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => 'reload' %>
    <%= javascript_pack_tag 'spot' %>
    <%= javascript_pack_tag 'spot_react' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <header>
          <%= render 'layouts/navigation' %>
        </header>

        <section class="main-section">
          <%= content_for?(:before_main) ? yield(:before_main) : "" %>

          <main id="main" role="main">
             <%= render 'layouts/messages' %>
             <%= yield %>
          </main>


          <div class="row text-center">
            <footer class="small-12 columns">
              <small>Built with code </> in Melbourne.</small> <br>
              <small>Copyright Surf Poseidon Pty Ltd <%= Time.current.year %></small>
            </footer>
          </div>
        </section>

        <a class="exit-off-canvas"></a>
      </div>
    </div>
  </body>
</html>
